<% layout('layouts/boilerplate') %>
<div class="home-hero-section">
    <div class="hero-text">
        <h1 class="display-2">Welcome to Wanderlust</h1>
        <p class="lead">Book unique homes and experiences all over the world.</p>
        <hr>
        <p>Ready to start your journey? Start your search and find your next favourite place.</p>
        <a class="btn btn-light btn-lg" href="/listings" role="button">Explore Now <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>
